apiVersion: v1
kind: Service
metadata:
  name: flask-service
spec:
  type: NodePort
  selector:
    app: flask
  ports:
    - port: 80          # service port
      targetPort: 5000  # container port
      nodePort: 30007   # browser will use this port
